<div class="col">
    <h5>
        Important links
    </h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link">
                Army Portal
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                Artract
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                Army cypergroup
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                NCTE
            </a>
        </li>

    </ul>
</div>

<div class="col">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link">
                Important Advisories
            </a>

            <a href="#" class="nav-link">
                Notification regarding banned apps
            </a>

            <a href="#" class="nav-link">
                ACSP-2019
            </a>
        </li>
    </ul>
</div>

<div class="col">
    <ul class="nav flex-column">
        Website developed in Rust by:
        <li>
            Name 1
        </li>
        <li>
            Name 2
        </li>
    </ul>
</div>