<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-md-2">
            {{!-- <img src={{image1}} alt="Logo"> --}}
            Corps of Signals load
        </div>
        <div class="col-md-8 text-center">
            FACULTY OF COMPUTER TECHNOLOGY & SCIENCES
        </div>
        <div class="col-md-2">
            {{!-- <img src="./logo2.jpg" alt="Logo"> --}}
            MCTE logo
        </div>
    </div>
</header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">Home</a>
        <a class="p-2 text-muted" href="#">About Us</a>
        <a class="p-2 text-muted" href="#">Faculty</a>
        <a class="p-2 text-muted" href="#">Courses</a>
        <a class="p-2 text-muted" href="#">Gallery</a>
        <a class="p-2 text-muted" href="#">Facilities</a>
    </nav>
</div>