<div class="position-sticky">
    <div class="p4 ">
        <img src="logo1.jpg" class="img-thumbnail " alt="COMDT MCTE IMAGE">
        <p>LT Gen xxx</p>
    </div>
    <div class="p4">
        <div class="login">
            <h4>Login</h4>
            <div class="mb-3 row w-100">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <div class="mb-3 row w-100">
                <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Login</button>
        </div>
    </div>
</div>