<div class="position-sticky">
    <div class="p4 ">
        <img src="..." class="img-thumbnail " alt="CDR FCTS">
        <p>PR14 xxx</p>
    </div>
    <div class="p4">
        <div class="container search">
            <h4 class="search-text">Search Here</h4>
            <div class="d-flex justify-content-left h-100" style="padding-top:3%">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>