<div class="container border rounded text-center">

    <h3 class="">Our team</h3>
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">IC No</th>
                <th scope="col">Name</th>
                <th scope="col">DOI</th>
                <th scope="col">Mob No</th>
                <th scope="col">Email</th>
                <th scope="col">Course</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>STD-2021-0322</td>
                <td>Student 1 name </td>
                <td>DOI 1 </td>
                <td>+911234567899</td>
                <td>stduent@univ.edu </td>
                <td>Programming 101</td>

            </tr>

        </tbody>
    </table>
</div>