<div class="container-flux">
    <div class="container rounded border-bottom">
        <h5>Update event</h5>

        <div class="mb-3 row">
            <label for="#" class="col-sm-3 col-form-label">Event name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="#" class="col-sm-3 form-label">Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="#" class="col-sm-4 form-label">Upload photo</label>
            <div class="col-sm-8">
                <a class="btn btn-secondary" href="#" role="button">Upload photo</a>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-10"></div>
            <div class="col-sm-2">
                <a class="btn btn-secondary" href="#" role="button">Add</a>
            </div>
        </div>
    </div>

    <div class="container rounded ">
        <h5>Events list</h5>
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Heading</th>
                    <th scope="col">Date</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Event 1</td>
                    <td>2021-05-15</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="#" role="button">Edit</a>
                        <a class="btn btn-danger btn-sm" href="#" role="button">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Event 2</td>
                    <td>2021-05-17</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="#" role="button">Edit</a>
                        <a class="btn btn-danger btn-sm" href="#" role="button">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Event 3</td>
                    <td>2021-05-28</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="#" role="button">Edit</a>
                        <a class="btn btn-danger btn-sm" href="#" role="button">Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>